html, body {
    height: 100%;
}

.container {
    position: relative;
    text-align: center;
}

.star {
    color: gray;
}

.star-active {
    color: orange;
}

.editStar {
    color: gray;
}

.editStar-active {
    color: orange;
}

.trash-icon {
    height: auto;
    width: 30px;}

.movie-poster {
height: 100px;
width: auto;
    }



